.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 5px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ddd;
}
